[2015-11-29 13:54] mxstbr opened #1 "More social networks"
- [x] E-Mail (mailto:?subject=TITLE&body=DESCRIPTION:URL)
- [ ] Pocket (https://getpocket.com/save?url=URL&title=TITLE) (No icon in IcoMoon, depends on #12)
- [x] Xing
- [ ] Instapaper (No icons, see Pocket)
- [ ] Evernote (No icons, see Pocket)
- [ ] Ello (Can't find sharing link)

[2015-11-29 13:55] mxstbr opened #2 "Custom text on buttons"
Let users choose the text that's displayed on the buttons themselves. (Maybe add "Advanced Options"?)

[2015-11-29 13:56] mxstbr opened #3 "Support for templating engines"
E.g. let users add a php/liquid/.. tag instead of the text.

[2015-11-29 13:56] mxstbr opened #4 "More icon types"
Depends on #12, as IcoMoon doesn't offer anymore. Maybe use IcoMoon + something else?

[2015-11-29 14:00] mxstbr opened #5 "Show how much money users are paying less by using these sharingbuttons"
I.e. integrate with https://whatdoesmysitecost.com/

[2015-11-29 14:01] mxstbr opened #6 "The icons in the preview are too small"
![screen shot 2015-11-29 at 15 00 26](https://cloud.githubusercontent.com/assets/7525670/11457448/fc9bd2ea-96a9-11e5-8a49-db93d499fa40.png)

[2015-11-29 15:10] andrunix commented on #6
Hello. I am fixing this bug but I wasn't sure how you generate the app.css from the scss files. I'll be happy to add that to the README also if you can give me the command to generate the app.css. Thanks. :)

[2015-11-29 15:17] mxstbr commented on #6
@andrunix Thanks so much for checking it out!

I just changed the entire setup of the app because I refactored a lot of the code. If you `git pull` again, the code for the preview buttons is in `css/modules/_generator-preview.css`, and the command to generate the CSS is simply `npm start`. When you change something in the CSS with `npm start` running, the website should automatically refresh and s

[2015-11-29 15:47] #6 closed

[2015-11-29 15:48] mxstbr opened #8 "Include notice for the icons, as per the IcoMoon license"

[2015-11-29 15:53] mxstbr opened #9 "Without the "Oval" icons selected and visible, the HTML code block is not long enough"
![screen shot 2015-11-29 at 16 52 56](https://cloud.githubusercontent.com/assets/7525670/11458113/b7537372-96b9-11e5-884d-096bf78bbb85.png)

[2015-11-29 16:39] #9 closed

[2015-11-30 12:48] mxstbr opened #10 "Drag & drop to reorder the button appearance"

[2015-11-30 13:31] #8 closed

[2015-11-30 13:49] mxstbr opened #11 "A11y"
- [ ] Add ~~title~~ *aria-label* attributes to buttons. (See here: https://www.nczonline.net/blog/2013/04/01/making-accessible-icon-buttons/)
More ideas how to improve accessibility?

[2015-11-30 13:54] mxstbr opened #12 "Switch to different icon pack with more version and more social networks"
If you have a suggestion let me know! Needs to have some sort of license that allows me to distribute them.

[2015-11-30 13:59] mxstbr commented on #1
The remaining four social networks prove to be a bit trickier, partly because of the missing icons and/or the missing sharing links. Closing this issue for now, will revisit when #12 is done.

[2015-11-30 13:59] #1 closed

[2015-11-30 14:01] mxstbr opened #13 "Save current config to localStorage"

[2015-11-30 15:06] swastik commented on #11
You could possibly use something like http://www.508checker.com/index.php or http://achecker.ca/checker/index.php. Maybe add a `aria-role` attribute to the buttons?

[2015-11-30 16:48] #11 closed

[2015-11-30 17:03] mxstbr opened #14 "Get rid of jQuery"

[2015-11-30 17:03] #13 closed

[2015-11-30 17:06] mxstbr opened #15 "Move CSS out of JS"

[2015-11-30 17:06] mxstbr opened #16 "Nicer loading animation"
Maybe get rid of it altogether?

[2015-11-30 17:30] #14 closed

[2015-11-30 17:38] mxstbr opened #17 "Massive performance problem when changing the URL or the Text"
This is due to the syntax highlighting with `highlight.js` ([these LoC](https://github.com/mxstbr/sharing/blob/master/js/components/GeneratorCode.react.js#L26-L27)). Anybody got a better solution? Going to try [`react-highlight`](https://www.npmjs.com/package/react-highlight).

EDIT: `react-highlight` is also using `highlight.js` under the hood and is none the faster.

[2015-11-30 18:00] mxstbr commented on #17
Trying `prism.js` by @leaverou now, and it's much faster. Definitely going with that.

[2015-11-30 18:05] #17 closed

[2015-11-30 18:09] mxstbr opened #18 "Async analytics, launched only when the app is actually finally rendered"
See here for a full implementation: https://github.com/mxstbr/personal-website/blob/master/js/app.js#L25-L37

[2015-11-30 19:07] #15 closed

[2015-11-30 19:21] #18 closed

[2015-11-30 19:46] #16 closed

[2015-11-30 20:39] mxstbr opened #19 "Cross-browser testing"
- [x] OSX Chrome Canary
- [x] OSX Chrome
- [x] OSX Firefox
- [x] OSX Safari
- [x] OSX Opera

-

- [x] Windows Firefox
- [x] Windows Chrome
- [x] Windows Internet Explorer 11
- [x] Windows Internet Explorer 10
- [ ] Windows Microsoft Edge

-

- [x] Android Chrome
- [x] Android Chrome Beta
- [x] Android Firefox
- [x] Android Dolphin Browser
- [x] Android Opera
- [x] Android UC Browser
- [x] Android

[2015-11-30 20:54] mxstbr opened #20 "Tumblr Link broken"

[2015-11-30 21:36] mxstbr commented on #19
Don't have access to a Windows 10 PC, so no Microsoft Edge. Also only have a first-gen iPad with iOS 5.1.1, so I can't download Opera Mini.

Will conclude this browser testing and hope for the best on those two browsers!

[2015-11-30 21:36] #19 closed

[2015-11-30 21:45] mxstbr commented on #20
Fixed with 187b1bacc58a13f0b7697860d2b1df95da3750be

[2015-11-30 21:45] #20 closed

[2015-12-01 08:04] mxstbr commented on #12
Just realised I can use my Streamline Icons for this, which have 4+ different version for each social network! :sunglasses:

[2015-12-02 08:30] #4 closed

[2015-12-02 08:30] #12 closed

[2015-12-02 09:15] mxstbr opened #21 "Between 700px and 850px width, the radio-bullet is mispositioned"
On layouts smaller than 850px and before the mobile layout kicks in at 700px, the radio button bullet is wrongly positioned.

![screen shot 2015-12-02 at 10 13 35](https://cloud.githubusercontent.com/assets/7525670/11526838/8a4bc912-98dd-11e5-8c11-db1d627a8352.png)

[2015-12-02 11:20] mxstbr opened #22 "AppCache manifest attribute missing from index.html"

[2015-12-02 13:44] #22 closed

[2015-12-02 19:29] mxstbr opened #23 "no-js fallback"
Users with JavaScript disabled won't see anything, which is a shame. A no-js fallback using a form would be nice...

[2015-12-02 19:35] mxstbr opened #24 "Add ServiceWorker"

[2016-01-21 00:49] lordspace opened #25 "Google+ no preview"
Thanks for the cool project.

I just included your project on my super recently released project (half an hour ago to be precise) http://wpdemoserver.com/

When sharing on Google+ there's no preview.

![screenshot 2016-01-21 02 47 51](https://cloud.githubusercontent.com/assets/137558/12468114/7edcd8a4-bfe9-11e5-8369-fbd680b96243.png)

[2016-01-21 08:07] mxstbr commented on #25
Interesting, thanks for noticing that, I'll take a look!

[2016-01-21 09:07] mxstbr commented on #25
Should be fixed now, please try again!

[2016-01-21 14:04] lordspace commented on #25
What do I update?
HTML snippets?

[2016-01-21 15:05] mxstbr commented on #25
Oh sorry, I misunderstood what you were saying, I thought you were sharing sharingbuttons.io on Google+, my bad! Reopening as this isn't fixed, let me take a deeper look!

[2016-01-21 15:29] lordspace commented on #25
thanks!

[2016-01-23 09:01] mxstbr commented on #25
I researched a bit, it turns out the Preview simply doesn't show, but will be posted. This happens with all G+ share links, so it isn't my fault and I can't fix that!

Thanks for reporting this bug!

<img width="551" alt="screen shot 2016-01-23 at 08 59 34" src="https://cloud.githubusercontent.com/assets/7525670/12529483/d9763a86-c1af-11e5-8e0b-090e82106e74.png">

[2016-01-23 09:01] #25 closed

[2016-01-23 10:09] lordspace commented on #25
Can you try it on my site?
http://wpdemoserver.com/ and then click on Google plus.
There's no description.
There's no thumbnail so I don't expect a thumbnail.

[2016-01-23 12:38] mxstbr commented on #25
Sorry, but that's not on me, I have no influence over that. You probably don't have your `meta` tags configured correctly!

[2016-01-25 14:31] lordspace commented on #25
I know but which tags? could it be the og: tags which are facebook related?

[2016-01-25 14:36] mxstbr commented on #25
I think Google+ uses [schema.org](schema.org), but be sure to do a quick search and double check that!

[2016-03-02 00:37] drawcard opened #26 "Remove target-blank from email button"
Hi, I have a small suggestion - for generated buttons that send an email, remove `target="_blank"` from them so a blank window isn't opened each time a user clicks the button. A blank window shouldn't be  required for sending the email.

[2016-05-16 18:10] tomByrer opened #27 "SVG data in CSS?"
If there is more than 1 webpage using the same social icons, I think [SVG would be better in the CSS](http://calendar.perfplanet.com/2014/tips-for-optimising-svg-delivery-for-the-web/)?

[2016-08-01 17:20] sporkman opened #28 "Pinterest working?"
Not able to successfully share an image with the Pinterest button.  Not a user of the service, so I'm not sure of the details, but perhaps something has changed in how sharing works.  Generated url from sharingbuttons.io is this:  https://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fanneklein.com%2Fak-content%2Fuploads%2F2016%2F02%2Fak-color-front.jpg&summary=Super%20fast%20and%20easy%20S

[2016-08-02 06:43] mxstbr commented on #28
Oh no, that sounds like they changed the format! Will look into it, thanks!

[2016-08-02 07:50] #28 closed

[2016-08-02 07:50] mxstbr commented on #28
Found the issue, Pinterest now forces us to specify an image or it'll fail. If the link is an image it works as expected again! (as soon as I've deployed, that is)

[2016-08-02 16:52] michaelmior opened #30 "Add Hacker News"
Would be awesome to add Hacker News as an option. Sharing link is in the format below

`https://news.ycombinator.com/submitlink?u=URL&t=TITLE`

[2016-08-02 16:55] mxstbr commented on #30
Do you know of any good SVG icons for Hacker News in all four variations? (solid, circle, solid-circle, empty square)

[2016-08-02 17:57] michaelmior commented on #30
I don't, but [gilbarbara/logos](https://github.com/gilbarbara/logos) has a [Y Combinator logo](https://github.com/gilbarbara/logos/blob/master/logos/ycombinator.svg).

[2016-08-02 20:16] ndbroadbent opened #32 "mailto: links should not open in a new window."
It opens a new empty web browser tab even when the links are handled by the OS (e.g. native mail client).

[2016-08-02 21:19] billyquick commented on #32
Hey @ndbroadbent, what web browsers have you tried using? Some browsers support defaulting pop-up windows to open a new tab and some do not.

[2016-08-02 21:50] xpose2000 opened #33 "Minor Tweaks to Large/Medium Layouts"
## Large Layout
Instead of "[icon] Share on Twitter" it should just say "[icon] Twitter".

## Medium Layout
Instead of "Twitter" it should say "[icon] Twitter".

## Get Rid of Large/Medium?
Infact, I think medium and large should merge to "normal".  Then "small" should have its own layout with just the icons.

[2016-08-02 21:55] ndbroadbent commented on #32
Hi, this happens for me on OS X when I use Chrome. The native Mail app opens to write a new email, but then I still have a blank tab open with the `mailto:` URL in the address bar, and the title: "Untitled".

I think removing the `target="_blank"` should be fine for all cases, any browser will always open a new window or popup by itself.

[2016-08-02 22:05] billyquick commented on #32
I see. I agree, that seems like it should work.

[2016-08-03 00:17] sotojuan commented on #30
^ If that looks good I can make a PR for this 😎

[2016-08-03 04:07] OGPoyraz opened #34 "Adding Whatsapp share"
Hey mxstbr, thanks for sharing a nice solution. It would be nice if you add Whatsapp too.

[2016-08-03 07:52] mxstbr commented on #34
Does WhatsApp have a sharing link? Do you have any idea what their structure is?

[2016-08-03 07:52] mxstbr commented on #30
Sure, please do @sotojuan, I'd love that!

[2016-08-03 07:55] mxstbr commented on #33
I'm not convinced merging them is the right way to go, I do agree that `[icon] Twitter` is nicer for medium though! Why not this?
- Large: `[icon] Share on Twitter`
- Medium: `[icon] Twitter`
- Small: `[icon]`

[2016-08-03 08:53] hagenburger opened #35 "Website not loading in Safari using private mode"
Safari’s private mode does not support `localStorage` and breaks with:

[code]

Result: You’ll see the loading spinner (actually first I thought this might be a website against using any sharing buttons, but then I had a second look)

Maybe at least catch this error and display a notification to load it without using the private mode?

[2016-08-03 10:00] OGPoyraz commented on #34
Well, ofc it works on devices which have whatsapp. [Their FAQ about this](https://www.whatsapp.com/faq/en/android/28000012)

[2016-08-03 11:25] mxstbr commented on #34
Oooh amazing! PR would be very welcome!

[2016-08-03 11:26] mxstbr commented on #35
Oooh that's horrible, I did NOT know that, sorry! We can just not store to localStorage if it doesn't exist, it's only there to persist the chosen options between visits – would you mind submitting a PR for that?

[2016-08-03 16:43] PickJBennett opened #37 "Nearly impossible to select generated code"
### Description

Because the generated code uses DOM elements to highlight the syntax and not a <textarea>, selecting this code is extremely difficult on touch-screen devices.

### Steps to reproduce

1. Open (http://sharingbuttons.io/) in Mobile Safari on iOS 9.3.3
2. Generate code and try to select text with one finger while scrolling the highlighted syntax with the other.

**Expected behavior:*

[2016-08-03 17:05] xpose2000 commented on #33
Sure, that sounds like it'd most certainly work :)

[2016-08-03 19:19] ManiKarthik opened #38 "WordPress Plugin"
Would love to see a WordPress plugin. Most WP plugins are either slow or just clunky with bloated code and unnecessary frills. Since page load time is a big concern for websites these days, would be great to have a WP plugin built that has no JS and loads fast without using much resoruces.

[2016-08-03 21:16] apkoponen commented on #38
Sounds awesome! I think the biggest part of the plugin would be the admin UI. Otherwise it is fairly simple. Should we use the same generator JS as on the site to generate button code or do it with PHP in order to better support for e.g. localization? This is always extra work and I don't know what would be ideal for @mxstbr.

We should support three ways for showing the buttons:
- A PHP function

[2016-08-04 04:44] mxstbr commented on #35
Will be fixed the next time I deploy thanks to the amazing @matter3!

[2016-08-04 04:44] #35 closed

[2016-08-04 04:46] mxstbr commented on #38
Could we make the generator JS (and thus the site) better? It seems kind of weird to support two codebases doing almost the same thing :wink:

Otherwise this sounds absolutely amazing, can't wait for this to happen!

[2016-08-04 11:42] XhmikosR commented on #32
Duplicate of #26.

[2016-08-04 12:13] mxstbr commented on #32
Thanks @XhmikosR, also fixed thanks to @pavelkomiagin in #36! 🎉

[2016-08-04 12:13] #32 closed

[2016-08-04 12:13] mxstbr commented on #26
Fixed thanks to @pavelkomiagin in #36! 🎉

[2016-08-04 12:13] #26 closed

[2016-08-04 13:39] brianschildt commented on #38
I know it is a bit different, but is has the same purpose - No tracking social buttons - https://github.com/privacore/sharebuttons-wp

[2016-08-04 16:11] mxstbr commented on #34
Done by the amazing @OGPoyraz in #42! 🎉

[2016-08-04 16:11] #34 closed

[2016-08-04 17:11] apkoponen commented on #38
@mxstbr Okay. How would you think that we could dynamically fill in the URL and the title of the page/post that were on when using JS generator code?

[2016-08-04 18:45] mxstbr commented on #38
@apkoponen I've honestly never built a WordPress plugin before so I really have no idea :blush: however you want to do this is honestly fine with me!

[2016-08-04 19:19] mxstbr commented on #33
Done by the amazing @lbntly in #43! 🎉

[2016-08-04 19:19] #33 closed

[2016-08-05 08:51] peter-mouland commented on #27
for responsive site, do the icons ever need to be resized, or do the colours ever need changing etc?

I prefer svg's inline (in the html) so the classnames and css can change them like normal DOM.

when you import svg's into jsx (ie. react) you still gain from minimal http requests as the svg is in the js code itself (once compiled)

[2016-08-05 09:01] mxstbr commented on #27
I kinda like the SVG-in-CSS approach because it'll also work much better for emails I think? I'd appreciate a PR implementing a first idea!

[2016-08-05 09:19] peter-mouland commented on #27
the only downside with the base64 approach is if the same icon is needed twice, but with a slight styling tweak (e.g. smaller / mono-chrome for mobile or bigger / full-colour for retina), you then have 2 sets of base64 icons in the css.  Which is why inline is better.

I think the base64 still treats its as svg, so a background image no better than inline for emails (i would expect!)

but like i s

[2016-08-05 16:26] apkoponen commented on #38
I was just checking, if you had better ideas than me, because I had a more in depth to the sharingbuttons.io site and realized my initial implementation idea would not work. I initially thought we could just use the JS script to generate the HTML and CSS output, store it to the DB and just input it to the pages. Implementing this would be super easy. However, it would only work if we want to use t

[2016-08-05 19:11] hadifarnoud opened #45 "add Telegram sharing button"
Telegram is a popular messaging app in Iran, Russia, and Arab countries. Please add Telegram too.

http://telegram.wiki/tips:websharing

[2016-08-05 19:32] mxstbr commented on #45
Absolutely, I use it too! If you have any idea where we can find icons I'm sure we can look into it :+1:

[2016-08-06 10:14] hadifarnoud commented on #45
there are loads of icons for Telegram. how about [this one](http://www.flaticon.com/free-icon/telegram-logo_87413)?

[2016-08-06 10:14] hadifarnoud commented on #45
this is nice too: http://www.easyicon.net/language.en/1145402-telegram_icon.html

[2016-08-07 09:22] lolmaus opened #46 "Add VK.com"
VK (old name VKontakte, "in contact") is a very active social network of Russian origin, it's audience size is [~5%](http://www.statista.com/statistics/272014/global-social-networks-ranked-by-number-of-users/) of that of Facebook, which is still incredibly huge.

![image](https://cloud.githubusercontent.com/assets/200884/17461540/2174aa78-5c99-11e6-8bd8-b4b89d5f6f79.png)

API docs: https://new.vk.

[2016-08-07 18:02] olets opened #47 "why the borders?"
The buttons all have a border, which adds a lot of `border-color: …` styles. Is this necessary or can it be dropped?

[2016-08-07 19:56] mxstbr commented on #47
I guess those could be dropped!

[2016-08-07 20:30] olets commented on #47
Cool! Just asking because I'm playing with optimizing the css

[2016-08-08 07:40] mxstbr opened #49 "!important styles"
– @olets

I think this would be nice, could it have any unintended side effects?

[2016-08-08 07:40] mxstbr commented on #47
Done by the amazing @olets in #48! 🎉

[2016-08-08 07:40] #47 closed

[2016-08-08 08:23] xoniq commented on #49
If the structure of your CSS is correct, this should not be a problem or causing side-effects.
When someone want to override the buttons without having to change the source of this script, it is not possible anymore with these '!important'.

In my vision; '!important' is never a good idea if the structure of the overall website is correct.

[2016-08-08 08:23] xoniq commented on #45
https://www.iconfinder.com/search/?type=vector&price=free&q=telegram

[2016-08-08 08:47] SuNaden opened #50 "Button missing a colon in CSS"
The active and hover styles do not get applied to the email button, because there is simply a missing colon after the `:hover`

[code]

After checking the generated CSS, this is also an issue in the Xing button.

[2016-08-08 08:47] mxstbr commented on #50
Would appreciate a PR fixing that!

[2016-08-08 08:47] mxstbr commented on #50
(though I suspect this might've been fixed with #48)

[2016-08-08 08:49] SuNaden commented on #50
Oh sorry, did not notice that PR. Yes #48 will surely fix it.

[2016-08-08 12:13] #50 closed

[2016-08-08 15:19] matter3 commented on #49
I agree with @xoniq , using "!important" should try to be avoided in most cases.

[2016-08-08 17:24] olets commented on #49
Sure, you don't want to do anything that'll get in the way of your cascade, but there are definitely legitimate uses for `!important`. For context, this note was because of changes made to `a.resp-sharing-button__link`s. I agree it probably the `!important` isn't necessary - the reason for it here would be to protect against something like `a {color: #000 !important}` but in my opinion anyone who

[2016-08-08 19:09] xoniq commented on #49
@olets if you have an '!important' like that there is already something wrong with the CSS structure itself. Of something is overriding the global 'a' there is the error. Extensions should only have CSS concerning it's container. And if you want an extension to honor your global style, this should be overridden on a proper way.

[2016-08-08 22:00] peter-mouland commented on #49
just gonna give my 2cents...

i agree there are time when `!important` are valid, but these are _only_ from things like `.hidden` .hidden--mobile` etc

other than that, things like BEM and SMACCS also agree that, if possible, it is preferable to not have nested classes or `!important`; both of these things make customising the css harder.

[2016-08-08 22:29] olets commented on #49
Ha I mean yes, it's true that `!important` can be a sign of beginner css coding. In a case like this, where people are including an outside module and counting on the buttons to look a certain, its purpose would be to make it really hard for the site styles to interfere with the sharingbuttons styles. For example,

[code]

(with `a`s _and_ `!important`s) would make it really impossible for the sit

[2016-08-08 22:30] olets commented on #49
(I've wanted to use the bitmoji github plugin for so long!!:)

[2016-08-08 23:03] olets opened #51 "optimize svgs"
The svgs could be optimized. My favorite tool for this is https://jakearchibald.github.io/svgomg/. I use precision:1 or precision:2 (check each svg, and use precision:1 if it still looks good), and turn on all features except for "remove viewBox." Because `width` and `height` are removed, they must be added back in the css (like `.resp-sharing-button__icon svg {width: 24px; height:24px}`)

For exa

[2016-08-09 11:46] #49 closed

[2016-08-09 11:46] mxstbr commented on #49
Thanks for the discussion everybody!

[2016-08-09 11:46] mxstbr commented on #51
Sounds really good, would love a PR!

[2016-08-09 22:01] olets commented on #46
@mxstbr do you want to limit networks to international ones?

@lolmaus check the contribution notes here https://github.com/mxstbr/sharingbuttons.io/wiki

[2016-08-10 10:20] mxstbr commented on #46
I'm fine with VK since it's huge, I think we could just not enable it by default?

(Also, that contribution guide is awesome! Thanks!)

[2016-08-12 01:52] gojeg opened #54 "Add FB Messenger send"
Hi, FB has e Send button for its Messenger. It would be great if you add this feature to the sharing buttons. Thanks.

https://developers.facebook.com/docs/plugins/send-button

[2016-08-17 20:38] olets commented on #54
The send button solution won't work here, but good news: the current Facebook link supports sending the link in a direct Fb message:

<img src="https://cloud.githubusercontent.com/assets/3282350/17752226/d5ad957a-6498-11e6-97f4-5d2eb2d29ae5.png" width="200px"/>

[2016-08-17 20:38] #54 closed

[2016-08-18 17:38] mrnagy88 opened #56 "Missing a Comma in CSS for e-mail button on Hover"
[code]
The comma between the two classes is missing in the generated code so e-mail button wont change colour on hover unless you put this one in instead.

[2016-08-18 17:41] mrnagy88 opened #57 "A bit more space between buttons"
I updated the margin on my css version but a bit more space between buttons would do good on SEO/mobile friendliness tests for tap targets for the small button size.

I think they recommend minimum 8 or 10 pixels space between buttons on mobile right?

I could be wrong, the issue might be the size of the buttons themselves but I like the small ones.

Love this tool btw!

[2016-08-18 21:29] mxstbr commented on #56
Good catch! Would you mind submitting a PR for this?

[2016-08-23 10:07] gabll opened #58 "Missing Facebook and Google+ buttons"
Can't see anymore the buttons for Facebook and Google+ if selected

[2016-08-23 11:16] mxstbr commented on #58
Not sure what you mean, I can still see both of them. Do a hard refresh maybe?

<img width="987" alt="screen shot 2016-08-23 at 21 15 57" src="https://cloud.githubusercontent.com/assets/7525670/17890044/d6f9d7bc-6976-11e6-9e2f-b48ead075bd3.png">

[2016-08-23 11:16] #58 closed

[2016-08-23 11:58] gabll commented on #58
Ok, they doesn't work only if Adblock Plus for chrome is enabled. Sorry

![image](https://cloud.githubusercontent.com/assets/10371551/17890991/981d5560-6939-11e6-84fe-659a88f72ddc.png)

[2016-08-23 12:07] mxstbr commented on #58
Huh, that's weird! I wonder how they block those…

[2016-08-23 15:31] mrnagy88 commented on #56
I created a branch but not sure where the error comes from, tried searching for e-mail in all the scripts except the larger ones that need to be downloaded, I don't know if I can do this till after 5pm ;-)

[2016-08-23 15:32] mrnagy88 commented on #56
I had no idea so much can be done with JS!

[2016-08-28 23:18] olets commented on #37
Sorry you're having trouble! Haven't test on Android, but the (admittedly touchy) standard iOS method works for me:
- long click (selects one word)
- drag the "start of selection" handle up and over towards the left margin of the column

Last time I looked (and it has been a while) scripted solutions for selecting large blocks of text on mobile were unreliable, so we'll probably stick to mobile OS

[2016-08-28 23:18] #37 closed

[2016-08-28 23:18] olets commented on #51
Life got all busy, but this is near the top of my to-do list!

[2016-08-28 23:26] olets commented on #45
Let's use the "arrowhead" silhouette from https://commons.wikimedia.org/wiki/File:Telegram_alternative_logo.svg - it's one of their official icons (see the banner in the OP's link), and it matches sharingbutton.io's other icons

[2016-08-29 10:00] jcage88 commented on #38
I'd like to get such a plugin for my website too. Does it matter how the website is created? Will it be ok if I use some templates for it from http://www.templatemonster.com/wordpress-themes.php for example? Thanks for your help in advance!

[2016-09-01 16:49] olets commented on #27
@tomByrer the big reason to use inlined svgs here is it means we can style them with css. As @peter-mouland says, this it lets you change colors, sizes, etc. In the case of sharingicons.io, using inlined css is how it supports the four styles set in the "icon" section of the UI (outline, outline in circle, solid, solid in circle via the the `stroke` and `fill` values). Sure there are other ways ar

[2016-09-01 16:56] olets commented on #27
Oh missed the email aspect of this question. I haven't tested this. As of December, [svg support in email was spotty](https://css-tricks.com/a-guide-on-svg-support-in-email/). This is something to look into. Do we have anyone here who's paying for Litmus or Email On Acid?

[2016-09-04 01:52] tomByrer commented on #27
Styling via CSS is a solid point.
Sorry, no email testing here, aside from manual.

[2016-09-05 07:51] equinusocio opened #60 "Add onClick with popup"
Allow onClick popup instead to open the link in the current window. This help to maintain the focus and allows multiple actions at the same time.

[DEMO](https://jsfiddle.net/equinusocio/qzohnvc6/)

[code]

[2016-09-06 19:03] olets commented on #60
Nice idea. In another project I already have window dimensions for some of the pop-ups we'll need. I'll add those in the next couple days, and then we can see what services are still missing

[2016-09-06 19:06] olets commented on #56
Closing: this is fixed by #59. Thanks @matter3

[2016-09-06 19:06] #56 closed

[2016-09-06 19:10] olets opened #61 "Test in email"
Looking for someone with access to an Email On Acid account and/or Litmus account to test `sharingbuttons.io` code in an email. Is that you? 😁

[2016-09-06 19:10] olets commented on #27
Closing this and moving the email question over to #61

[2016-09-06 19:10] #27 closed

[2016-09-07 09:40] mxstbr commented on #60
Sounds awesome, let's make this optional though! (toggle on/off)

[2016-09-07 14:15] equinusocio commented on #60
Obviously `target="_blank"` is useless when there is the `onClick` attribute. 👍

[2016-09-08 09:09] mxstbr commented on #60
That'd be a fallback though, if JS is disabled, right?

[2016-09-08 09:12] peter-mouland commented on #60
*or if the user clicks before the js had fully initialised i.e. slow connection/device

[2016-09-08 09:22] equinusocio commented on #60
@peter-mouland It's a native js string, not jQuery :P. I think the `onClick` can be launched before the html appear 😂

[2016-09-08 09:26] peter-mouland commented on #60
lol - ah yeah, was thinking of js event rather than html! i'll go back to sleep! 😴

[2016-09-08 09:30] equinusocio commented on #57
Just edit the provided css or use your own classes.

[2016-09-12 17:51] olets commented on #57
Google's PageSpeed Insights recommends primary tap targets be at least 7mm x 7mm (approx. 48 css pixels), with 5mm space (32 css pixels) separating them from other tap targets.<sup>1</sup>.

The buttons are currently 20px tall separated 16px. @mrnagy88 this isn't going to impact SEO, at least with Google

but if we take their recommendation to heart it could be good to make the tap targets bigger

[2016-09-13 20:27] mrnagy88 commented on #57
I'm not sure but I got an error in an SEO report, I suspect it might be the little dashes that appear when you hover that is creating the error message then, or the way I had it set up on my page perhaps with other links nearby. Have you seen those hidden dashes?

Here is an example with the dashes:
http://www.cosmoscondovip.ca/
When you include that invisible tap target space the links are essent

[2016-09-19 00:11] piccante opened #62 "Add WeChat (China), Kaotalk (Korea) please?"
Would love to include these two as standard... or can anyone guide me how to include them? Many thanks, keep up the good work!

[2016-09-22 16:00] siddharthkp opened #63 "Whatsapp icon is all white in solid circle mode"
Check out this share button - The whatsapp icon is all white.

<img width="253" alt="screen shot 2016-09-22 at 8 54 12 pm" src="https://cloud.githubusercontent.com/assets/1863771/18754586/cf48feba-8106-11e6-86d8-180e31b3472d.png">

This is because the whatsapp logo has white instead of transparent. Compare it with the twitter logo.

<img width="166" alt="screen shot 2016-09-22 at 8 59 44 pm" src="

[2016-09-23 01:09] mxstbr commented on #63
Definitely want to stick with SVG, I'd much rather edit the SVG to make this work. Not an expert myself though.

(@una mentioned on Twitter about looking for open source projects to contribute to, this might be a good first bug?)

[2016-09-23 03:18] siddharthkp commented on #63
@mxsbtr, that's how I landed here :smile:
Not sure if this is a beginner's bug though, you need some svg wizardry

[2016-09-23 03:20] siddharthkp commented on #63
But, maybe I can source it from somewhere. Self assigning.

[2016-09-24 01:48] benderTheCrime opened #64 "0.4em of whitespace to the right of the icon on small "size" setting"
Set the icons to "small" and you will notice that there is a small amount of whitespace in the container of the icon to the right of the icon itself. This is due to the `.resp-sharing-button span` css selector and it's padding-left. When there is no text, this whitespace causes the icon itself to look askew. I can think of two remedies for this:
- Remove the padding on the class, adding padding ri

[2016-09-27 16:13] oknoorap opened #65 "div inside anchor tag is invalid according to w3c"
Why not convert div tag into span? or some tag that valid on w3c standard?

[2016-09-28 09:58] mxstbr commented on #65
PRs improving the markup are always welcome!

[2016-10-05 17:40] mrnagy88 opened #66 "Pinterest button not working for my sites"
Not sure if this is pinterest or something with the buttons:

2 of my sites with the button;
https://www.kingswayriver.ca/
http://www.mypandacondos.ca/

I didn't modify the HTML output only the CSS so not sure what's causing it, perhaps something in the description or a change in Pinterest's required variables?

On my chrome it doesn't bring up the image selection, on another PC it brought it up,

[2016-10-05 17:40] mrnagy88 commented on #66
In both cases we were already logged in to Pinterest, not sure if that has an affect.

[2016-10-05 17:46] mrnagy88 commented on #66
Probably relates to these or can give us clue on the proper format:
http://assets.pinterest.com/js/pinit.js
http://assets.pinterest.com/js/pinit_main.js

[2016-10-16 17:28] Enzuo commented on #62
Hello,

I created a PR for the WeChat part of the issue, I can have a look at Kakaotalk as well later

[2016-10-17 16:54] piccante commented on #62
That’s fantastic, thank you!

Will this feature be added to your website http://sharingbuttons.io ?

Best regards,
Greg

[2016-10-17 18:28] mxstbr commented on #62
We're discussing in the PR right now! See #67

[2016-11-24 17:21] lucahammer commented on #66
Had the same issue. Found the problem. Pinterest expects a parameter 'description=', but sharingbuttons.io generates a parameter 'summary='.

This doesn't work:
[code]

This works:
[code]

I tried to write a pull request, but failed to find the appropriate section in the code. Some day I will learn react.

[2016-11-25 11:34] mxstbr commented on #66
Well, you found it after all! Thanks for digging in @lucahammer, this should work now: http://sharingbuttons.io!

[2016-11-25 11:34] #66 closed

[2016-11-29 18:50] Prinzhorn commented on #65
It is valid in HTM5

https://developer.mozilla.org/en/docs/Web/HTML/Element/a

https://www.w3.org/TR/html5/text-level-semantics.html#the-a-element

[2016-12-01 10:09] KimberleyCook commented on #21
@mxstbr is this issue still available? Would love to add it our list for our event on Saturday.

p.s thanks for sharing the repo with us :)

[2016-12-01 10:16] mxstbr commented on #21
This has been fixed already I'm afraid, sorry for getting your hopes up! Forgot to close the issue 😊

[2016-12-01 10:16] #21 closed

[2016-12-01 19:23] #63 closed

[2016-12-01 20:11] olets commented on #64
Good catch, thanks! The spans were only in the preview, not the generated code, so I was able to fix this in the CSS

[2016-12-01 20:15] olets commented on #51
Done at last! ^

[2016-12-02 10:12] mxstbr commented on #51
Awesome!

[2016-12-02 10:12] #51 closed

[2016-12-02 10:12] #64 closed

[2016-12-03 12:02] twinlensreflex commented on #30
hi! we are picking this up at the codebar 24PullRequests event

[2016-12-03 14:57] sotojuan commented on #30
Please do, I forgot about doing this (as I often do 😢).

[2016-12-03 16:08] twinlensreflex commented on #30
@sotojuan no problem, submitted a pull request now 👯 👍

[2016-12-03 16:18] #30 closed

[2016-12-03 16:37] eleanombre opened #75 "accessibility - focus styles"
there are no focus styles in the css! this is an accessibility issue. Ideally for accessibility you would have an equivalent `:focus` for any `:hover` style.

[2016-12-03 17:15] #57 closed

[2016-12-03 17:16] #46 closed

[2016-12-05 10:57] equinusocio commented on #60
What is "Hacktoberfest" tag? This is not hack.

[2016-12-05 10:58] equinusocio commented on #60
@olets Any update?

[2016-12-05 12:24] mxstbr commented on #60
See [here](https://hacktoberfest.digitalocean.com).

[2016-12-05 14:06] equinusocio commented on #60
Ok, so we have to wait 1 year for this enhancement? .... .. .

[2016-12-05 15:35] mxstbr commented on #60
No, just submit a PR if you want to :blush:

[2016-12-25 14:06] #45 closed

[2017-01-11 18:29] mrnagy88 opened #78 "Pinterest still not working properly - Requires URL and Image"
I'm not sure if this was intentional behaviour of the Pinterest Button:

https://blog.hubspot.com/hs-fs/hub/53/file-2622457892-png/Zappos_tool.png?t=1484158394658&width=545&name=Zappos_tool.png

If you see there the parameters for pinterest are ?url=[URLHere]&media=[ImageURLtoShareHere]&description=[DescriptionFromYourToolGoesHere]

Currently the Media parameter and URL parameter both have the sit

[2017-03-02 14:51] marcustisater opened #79 "Linkedin icon is blurry"
Hey mate, how are you doing? I think the linkedin icon is kinda "blurry", http://codepen.io/marcustisaters/pen/EWKxLV

Is it cool if I send over a PR? All the icons are from http://streamlineicons.com/ right? Let me check if they have updated it.

[2017-03-02 14:54] mxstbr commented on #79
Definitely, a PR would be appreciated!

[2017-03-15 04:12] asiegbucp opened #80 "How to make buttons work for dynamic URLs"
What is the code to make the buttons work for dynamic URLs?
By dynamic URL I mean URL that changes according to webpage content.

[2017-03-17 16:37] mxstbr commented on #80
This question is better suited for [StackOverflow], as it's got nothing to do with sharingbuttons and is just about general JavaScript knowledge.

Cheers!

[StackOverflow]: https://stackoverflow.com

[2017-03-17 16:37] #80 closed

[2017-07-07 08:36] bitboxer opened #81 "add rel=noopener to the links"
I think it might be a good idea to add `rel=noopener` to the links to prevent an attack vector using javascript. Some details can be found [here](https://mathiasbynens.github.io/rel-noopener/).

[2017-07-10 04:16] mxstbr commented on #81
Happy to accept a PR!

[2017-07-10 04:16] #81 closed

[2017-07-21 08:43] xuopled opened #83 "sharingbuttons.io down"
Hi,

When I go on [sharingbuttons.io](http://sharingbuttons.io/), I have this error on a blank screen:

[code]

[2017-07-21 17:43] blairanderson commented on #83
mirror: https://www.blairanderson.co/sharingbuttons/
screenshot:
![screen shot 2017-07-21 at 10 43 08 am](https://user-images.githubusercontent.com/955736/28475515-6ec53aac-6e01-11e7-8be9-e4ffde9acbb9.png)

did the CNAME file get removed?

[2017-07-24 10:37] Naereen commented on #83
@mxstbr Any new on that?

[2017-08-01 15:48] mrnagy88 commented on #83
Is it possible for anyone to mirror this site temporarily given the code is available here? I wouldn't know how to set it up or else I would add a copy myself.

[2017-08-01 15:50] mrnagy88 commented on #78
Basically, we need an image URL input field build into the sharingbuttons.io site so it adds a media file for Pinterest to work properly.

[2017-08-01 17:02] blairanderson commented on #83
this site was built with reactv12 and current is v16.

Lot has changed since then in node/webpack/react/etc.

@mxstbr would you recommend someone fire up a new create-react-app and copy stuff over?

[2017-08-01 17:06] blairanderson commented on #83
# mirron hosted on github pages: https://www.blairanderson.co/sharingbuttons/

[2017-08-01 18:11] mrnagy88 commented on #83
Thanks Blairanderson I really appreciate that, I had started to install offline webserver programs to host it locally but I didn't get through the install this saves a lot of time for our web dev team ;-)

Daniel

[2017-09-02 09:24] tobiastornros commented on #83
sharingbuttons.io works for me.

[2017-09-02 09:28] mxstbr commented on #83
Sorry for the troubles! I fixed it a couple of weeks ago, if you're still seeing it being down do a hard-refresh!

Thanks for the temporary mirror @blairanderson.

[2017-09-02 09:28] #83 closed

[2017-09-02 09:59] Naereen commented on #83
Great, it works for me. :+1:

[2017-09-16 13:18] bfad opened #84 "Have the logos be a sprite or font-based"
I think it would be beneficial to have the logos be in a single sprite image or a single font. It would add an extra HTTP request, but at least it would be cacheable. Subsequent requests wouldn't have to make the additional request, and since the SVG code isn't inline, that means a reduction in bandwidth on those requests as well.

[2017-09-16 13:31] bfad commented on #84
Or, maybe move the SVG data into a CSS `background-image: url("data:image/svg+xml;...)` since the CSS will be cached?

[2017-09-19 15:06] PolBaladas opened #85 "Idea: Medium should be added"
[Medium](https://medium.com/)

[2017-11-23 18:03] vijayabharathib opened #86 "React dev tool reports development build is used on the site"
Just saw the react dev tool light up on firefox and the popup says the site 'sharingbuttons.io' is using the dev build. Thought you might want to take a look.
![sharing-buttons-dev-build 1](https://user-images.githubusercontent.com/15519267/33185148-aff67254-d0a6-11e7-90c4-44434143f131.png)

[2017-12-04 17:31] mrnagy88 opened #87 "Facebook Link is 301 re-directing"
This may affect SEO of sites since 301 re-direct could be considered an error or bad site design:

 <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u=[URLHERE]">

Should be changed to:

 <a class="resp-sharing-button__link" href="https://www.facebook.com/sharer/sharer.php?u=[URLHERE]">

Small change but it gets picked up by seo tools,

Also still have the issue I

[2018-07-01 15:51] theel0ja opened #88 "Force HTTPS on the website"
https://sharingbuttons.io/

The site already support it, since you're using Netlify!

[2018-09-21 20:42] pachacamac opened #89 "Add Instagram button?"
Is it technically possible to add Instagram share button? If someone has some insights I could try to create a pull request

[2019-01-04 21:04] sparr commented on #89
Instagram does not allow posting links; it requires direct upload of the image in question, which can't be done or even initiated from a link on a page.

[2019-01-04 21:05] sparr commented on #88
Why?

[2019-01-04 21:06] sparr commented on #87
This sounds like it would be an excellent first pull request for a new developer.

Re Pinterest, it is frowned upon to mix two different concerns into the same issue.

[2019-01-04 21:25] sparr commented on #85
Can you find a way to pre-populate https://medium.com/new-story with a title and/or story body?

[2019-01-04 21:26] sparr commented on #84
Is this still relevant? SVG appears to be inline now.

[2019-01-04 21:29] sparr commented on #60
Why onClick instead of just target?

[2019-01-05 08:46] pachacamac commented on #89
Understood. Shame on Instagram :-1:

[2019-01-05 08:46] #89 closed

[2019-01-07 08:00] mxstbr commented on #84
I think this is out of the scope of this project, as it is a small enhancement that might or might not work out as a benefit when tested with your actual production users. Will close this for now, thanks for starting this discussion @bfad!

[2019-01-07 08:00] #84 closed

[2019-01-07 08:08] mxstbr commented on #88
I can't seem to find the setting to do so, how do I enforce HTTPS?

Because it's good practice 👍

[2019-01-16 08:04] vinayaketx opened #92 "Sharing count?"
Possible to get sharing count without a script?

[2019-02-08 02:16] Zephir1425 opened #93 "massive icons on screen <2000px width"
Hi, I have implemented sharingbuttons.io on my website. I did add the font size as mentioned. It works as expected on screen > 2000px but below that, each icon is huge and occupies the entire width of the screen, see below:
![image](https://user-images.githubusercontent.com/45423031/52455319-6f0b3f00-2b8a-11e9-90a5-5d3b76b35769.png)
Do you know why it happens?
Thanks a lot

[2019-02-08 03:10] Zephir1425 commented on #93
Actually, it seems that the icons are linked to the class image-response which was set at 100% below 2000px which explains the issue. So I basically had to rename the class to image-response2 which fixed the issue.

[2019-02-08 03:10] #93 closed

[2019-03-10 23:51] nicholastic opened #94 "Bootstrap support (or provide a parent tag that resets styles)"
I've dropped the buttons into a website that uses bootstrap 3.3.7. It's all messed up. Major headache to make it look good, have wasted a fair of time on this already. Some improvement but no luck overall.

[2019-07-30 18:25] sam327 opened #95 "Add Houzz?"
It would be nice to have Houzz as an available network here. (I'm working on some real-estate-related sites.)

According to a [random stack exchange article](https://stackoverflow.com/questions/25628296/share-url-similar-to-facebook-com-sharer-sharer-phpu-but-for-houzz?rq=1), the share URL should look something like this:

`http://www.houzz.com/imageClipperUpload?imageUrl=(IMAGE-URL-HERE)&title=(P

[2019-10-10 17:04] LorenzHenk opened #97 "Add Dev.to"
Some time ago dev.to implemented a callback URL to create posts, see [this blog post](https://dev.to/devteam/announcing-off-platform-share-to-dev-functionality-57j9) for more information.

As dev.to is growing, I think we should add a"Share to DEV" button.

I'd like to do this task, so please assign me to this issue 🙂

[2019-10-11 16:32] LorenzHenk commented on #97
I tried to add their logo, but I think it's to large (it's the word `DEV`).
![grafik](https://user-images.githubusercontent.com/10603631/66668380-6a38e680-ec55-11e9-9926-e95b57e42d95.png)

What do you think, should I still add it?

[2019-11-12 04:06] anthonykusuma commented on #92
I don't think it's possible; especially with a 3rd-party social sharing button like this one because it's not communicating with any developer tool.

You can try these following methods:
1. Use URL tracker like sharedcount
2. Create your own database and script that'll be triggered on every click.

[2019-12-31 18:36] rugk opened #99 "Include Mastodon"
This lib may be useful: https://aly-ve.github.io/Mastodon-share-button/

[2020-04-02 17:02] semperaye opened #100 "Not Sharing the Correct Page"
The buttons are sharing my main domain and not my blog posts. Any idea what would cause this? Thanks :)

[2020-07-26 16:38] dlackty commented on #100
@semperaye Which service did you try to share to?

[2020-07-26 16:39] dlackty commented on #88
Not sure if @mxstbr has made any changes, but it looks like force HTTPs has been turned on:

[code]

[2020-07-26 16:45] eklaburn1 commented on #100
Thanks for the reply. I'm not sure because I'm not using this anymore. Thanks.

[2020-07-26 16:45] #100 closed

[2020-08-13 05:50] maxxo opened #103 "Twitter share not working"
There is some sort of shaded overlay on Twitter site and the content does not load. Unable to share via Twitter. Tried with Firefox and Chrome on an updated Win 10 pc.

[2020-10-13 11:27] dmaus opened #105 "Wrong Xing sharing URL"
Xing changed it's sharing URL to https://www.xing.com/social/share/spi?url=

[2020-11-26 15:57] JoseAja commented on #103
I think that happens because you are not logged in and the login div that should show up doesn´t appear. In bundle.js, twitter url for sharing is incorrect. In that file it's defined as:
`'twitter': 'https://twitter.com/intent/tweet/?text=' + text + '&url=' + url,`
but i think it should be 'https://twitter.com/intent/tweet?text=' (no slash before ?)
I had this same problem in one of my projects. T

[2022-06-22 11:05] Hassan-Ib commented on #86
would it be okay to completely disable dev tools on "production" and leave it on for "development". I can do that if it's accpetable.

[2022-06-22 11:08] Hassan-Ib commented on #75
can I look into this ?.

[2022-09-02 09:54] woluweb opened #109 "Add Messenger button?"
Hi,
sharebuttons.io is excellent!
The only thing I miss is the Messenger button.
(I know, technically it is possible to click on the Facebook icon and then select a dropdown etc, but no end-user sees it)
A real Messenger button would have 2 advantages :
- its presence would be directly visible thanks to its Icon
- it would simplify sharing on Messenger since there are less (non intuitive) clicks
T

[2022-11-22 07:28] mimonirbd opened #110 "Not working on wordress"
currently not working on wordpress